<% if flash[:notice] %>
  <div class="container">
    <div class="flash notice" data-flash-hash="<%= session[:flash_hash] %>">
      <%= flash[:notice].is_a?(Hash) ? flash[:notice][:message] : flash[:notice] %>
      <% if flash[:notice].is_a?(Hash) %>
        <small style="display: block; margin-top: 5px; font-size: 12px; opacity: 0.8;">
          Session: <%= flash[:notice][:hash]&.first(8) %>... | 
          Time: <%= Time.at(flash[:notice][:timestamp]).strftime('%H:%M:%S') if flash[:notice][:timestamp] %>
        </small>
      <% end %>
    </div>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="container">
    <div class="flash alert" data-flash-hash="<%= session[:flash_hash] %>">
      <%= flash[:alert].is_a?(Hash) ? flash[:alert][:message] : flash[:alert] %>
      <% if flash[:alert].is_a?(Hash) %>
        <small style="display: block; margin-top: 5px; font-size: 12px; opacity: 0.8;">
          Session: <%= flash[:alert][:hash]&.first(8) %>... | 
          Time: <%= Time.at(flash[:alert][:timestamp]).strftime('%H:%M:%S') if flash[:alert][:timestamp] %>
        </small>
      <% end %>
    </div>
  </div>
<% end %>