<!DOCTYPE html >
<html lang="en">
  <head>
    <title>Into the Music</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= render 'shared/navigation' %>
    
    <%= render 'shared/flash_messages' %>

    <div class="container">
      <%= breadcrumbs separator: " › ", class: "breadcrumbs" %>
    </div>

<%= yield %>
  </body>
</html>