<!DOCTYPE html>
<html>
  <head>
    <title>Into the Music</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <nav class="main-nav">
      <div class="container nav-container">
        <div class="nav-left">
          <%= link_to 'Into the Music', root_path, class: 'logo' %>
          <%= link_to 'About', about_path, class: 'nav-link' %>
          <%= link_to 'Contact', contact_path, class: 'nav-link' %>
        </div>
        <%= link_to "Cart (#{session[:cart]&.values&.sum || 0})", cart_path, class: 'cart-link' %>
      </div>
    </nav>

    <% if flash[:notice] %>
      <div class="container">
        <div class="flash notice"><%= flash[:notice] %></div>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="container">
        <div class="flash alert"><%= flash[:alert] %></div>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>